@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0; }
    
    body{
      font-family: 'Poppins', sans-serif;
      background: #ffff;
    }
  *,
  ::after,
  ::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  
  a {
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    a:hover {
      text-decoration: none; }

      .container-list{
        width: 100%;
        height: 100vh;
        background-color: #fff;
        background-size:auto;
        width: 100%;
    
    
    }

    .data-box{
      margin : 0px auto;
      width: 400px;
      height: 80px;
      /* background: transparent; */
      background: #0174BE;
      /* background-image: url('/public/assets/img/bg.jpg'); */
      text-align: center;
      padding:0px;
      color: #fff;
      position: relative;
      border-radius: 50px;
  }

  .data-list-pendaftaran{
    
    text-align: center;
    margin: 0 auto;
    margin-top: 0px;
    padding-top: 0px;
    
  }

  .data-pendaftaran{
    justify-content: center;
    margin-top: -10px;
  }

  .table-box{
    align-items: center;
    margin: 100px;
    margin-top: 50px;
}

.tambah-data-box{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom:10px;
  padding-bottom:10px;
}

.table1 {
  font-family: sans-serif;
  color: #444;
  border-collapse: collapse;
  width: 50%;
  border: 1px solid #f2f5f7;
  border-radius: 50px;
  width: 100%;
  align-items: center;
  align-content: center;
}

.container-create{
  width: 100%;
  height: 100vh;
  /* background-image: url('/public/assets/img/bg.jpg'); */
  background-color: #fff;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-create-pendaftaran{
  width: 100%;
  height: 100vh;
  /* background-image: url('/public/assets/img/bg.jpg'); */
  background-color: #fff;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-detail{
  width: 100%;
  height: 100vh;
  /* background-image: url('/public/assets/img/bg.jpg'); */
  background-color: #fff;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: left;
  padding: 50px;
}

.profile-box{
  /* background: transparent; */
  background: #0174BE;
  /* background-image: url('/public/assets/img/bg.jpg'); */

  text-align: center;
  padding: 80px 130px;
  color: #FFCC00;
  position: relative;
  border-radius: 20px;
}

.profile-saya{
  font-family: 'Poppins';
  font-size: 25px;
  font-weight: bold;
  color: #FFCC00;

}

.text{
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: normal;
}

.input-pendaftaran{
  font-family: 'Poppins';
  font-weight: normal;
  color: #0174BE;
  justify-content: center;
  align-items: center;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

.container{
  width: 100%;
  height: 100vh;
  /* background-image: url('/public/assets/img/bg.jpg'); */
  background-color: #fff;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-box{
  /* background: transparent; */
  background: #0174BE;
  /* background-image: url('/public/assets/img/bg.jpg'); */

  text-align: center;
  padding: 80px 130px;
  color: #fff;
  position: relative;
  border-radius: 20px;
}

.profile-saya{
  font-family: 'poppins';
  font-size: 25px;
  font-weight: bold;

}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

  
  /*-----------------------------
      News Ticker
  ------------------------------*/
  .acme-news-ticker {
    background: #fff;
    position: relative;
    height: 45px;
    border: 1px solid #1974d2;
    margin-top: 45px; }
    @media (min-width: 768px) {
      .acme-news-ticker {
        margin-top: 0; } }
    .acme-news-ticker-label {
      background: #1974d2;
      padding: 10px;
      width: auto;
      float: left;
      margin-right: 15px;
      line-height: normal;
      height: 100%;
      color: #fff; }
      @media (max-width: 575px) {
        .acme-news-ticker-label {
          position: absolute;
          top: -45px; } }
    .acme-news-ticker-box {
      height: 100%;
      padding-top: 10px;
      overflow: hidden; }
      @media (max-width: 575px) {
        .acme-news-ticker-box {
          padding-left: 10px;
          padding-right: 120px; } }
      .acme-news-ticker-box ul {
        width: 100%;
        list-style-type: none !important;
        padding: 0;
        margin: 0; }
        .acme-news-ticker-box ul li a {
          text-decoration: none; }
    .acme-news-ticker-controls {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      height: 100%;
      right: 0;
      top: 0; }
      .acme-news-ticker-controls button {
        height: 100%;
        background: #f6f6f6;
        padding: 0;
        width: 40px;
        border-color: #eeeeee;
        border-style: solid;
        border-width: 0 0 0 1px;
        cursor: pointer;
        display: inline-block; }
        .acme-news-ticker-controls button:hover {
          background: #eeeeee; }
        .acme-news-ticker-controls button.acme-news-ticker-arrow {
          margin: 0;
          display: inline-block;
          position: relative; }
          .acme-news-ticker-controls button.acme-news-ticker-arrow:after {
            border-color: #999;
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-right-style: solid;
            border-right-width: 2px;
            content: '';
            display: inline-block;
            height: 8px;
            left: 50%;
            position: absolute;
            top: 50%;
            width: 8px; }
        .acme-news-ticker-controls button.acme-news-ticker-pause {
          position: relative;
          display: inline-block; }
          .acme-news-ticker-controls button.acme-news-ticker-pause:before {
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            border-color: #999;
            border-style: solid;
            border-width: 0 2px 0;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            left: 50%;
            top: 50%; }
      .acme-news-ticker-controls.acme-news-ticker-horizontal-controls button.acme-news-ticker-prev:after {
        -webkit-transform: translate(-50%, -50%) rotate(135deg);
            -ms-transform: translate(-50%, -50%) rotate(135deg);
                transform: translate(-50%, -50%) rotate(135deg); }
      .acme-news-ticker-controls.acme-news-ticker-horizontal-controls button.acme-news-ticker-next:after {
        -webkit-transform: translate(-50%, -50%) rotate(315deg);
            -ms-transform: translate(-50%, -50%) rotate(315deg);
                transform: translate(-50%, -50%) rotate(315deg); }
      .acme-news-ticker-controls.acme-news-ticker-vertical-controls button.acme-news-ticker-prev:after {
        -webkit-transform: translate(-50%, -50%) rotate(225deg);
            -ms-transform: translate(-50%, -50%) rotate(225deg);
                transform: translate(-50%, -50%) rotate(225deg); }
      .acme-news-ticker-controls.acme-news-ticker-vertical-controls button.acme-news-ticker-next:after {
        -webkit-transform: translate(-50%, -50%) rotate(405deg);
            -ms-transform: translate(-50%, -50%) rotate(405deg);
                transform: translate(-50%, -50%) rotate(405deg); }
  

  
  /*# sourceMappingURL=style.css.map */